body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    font-size: 24px;
}

div,
button {
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
}

button {
    cursor: pointer;
}

.calculator {
    width: 420px;
    height: auto;
    background-color: grey;
}

.display {
    text-align: right;
    padding: 5px;
    margin: 20px;
    background-color: white;
    font-size: 32px;
}

.display>* {
    height: 44px;
    border-style: none;
}

.clear-del {
    border-style: none;
    display: flex;
}

.buttons {
    display: grid;
    justify-content: center;
    margin: 10px;
    border-style: none;
}

.btn {
    font-size: 24px;
    margin: 10px;
    width: 80px;
    height: 80px;
    background-color: white;
    border-color: black;
}

.AC,
.Del {
    width: 180px;
}

.AC {
    margin-left: 20px;
    border-color: red;
    color: red;
}

.Del {
    border-color: blue;
    color: blue;
}

.op {
    border-color: green;
    color: green;
}